<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.BoardMapper">
	
	<select id="getAll" resultType="com.example.demo.domain.BoardVO" >
        select 	top #{cntPerPage}
        			bno, 
        			title, 
        			author, 
        			regdate, 
        			readcnt, 
        			delcheck
        from 	board
        where 
        			delcheck = 'N'
        			and bno > #{startIndex}
        		
        		<if test="searchType=='titleType' and keyword != null and keyword !=''">
        			and title like '%' + #{keyword} + '%'
		        </if>
		        <if test="searchType=='idxType' and keyword != null and keyword !=''">
		        	and bno = #{keyword}
		        </if>
		        <if test="searchType=='authorType' and keyword != null and keyword !=''">
		        	and author like '%' + #{keyword} + '%'
		        </if>
    </select>
    
    <select id="getBoard" resultType="com.example.demo.domain.BoardVO" >
        select 	top #{cntPerPage}
	        		bno, 
	        		title, 
	        		author, 
	        		regdate, 
	        		readcnt, 
	        		delcheck
        from 	board
        where 	
        			delcheck = 'N'
        			and bno > #{startIndex}
			       
			        <if test="searchType=='titleType' and keyword != null and keyword !=''">
			        	and title like '%' + #{keyword} + '%'
			        </if>
			        <if test="searchType=='idxType' and keyword != null and keyword !=''">
			        	and bno = #{keyword}
			        </if>
			        <if test="searchType=='authorType' and keyword != null and keyword !=''">
			        	and author like '%' + #{keyword} + '%'
			        </if>
    </select>
    
    <insert id="add" parameterType="com.example.demo.domain.BoardVO" useGeneratedKeys="true" keyProperty="bno">
        insert into board (title, contents, author, regdate)  
        values 
        			( #{title}, #{contents}, #{author}, getdate() )
    </insert>
    
    <update id="edit">
        update  	board
        set			title = #{title}, 
        				contents = #{contents},
		        		readcnt= #{readcnt},
		        		delcheck = #{delcheck}
        where   	
        				bno = #{bno}
    </update>
    
    <select id="getByIdx" resultType="com.example.demo.domain.BoardVO">
    	select	bno, 
    		   		title, 
	    		   author, 
	    		   regdate, 
	    		   contents, 
	    		   readcnt,
	    		   delcheck
    	from	board 
    	where 
    				bno = #{bno}
    </select>
    
	<select id="getCurBoardCnt" resultType="int">
		select	count(*)
		from 	board
		where 
					delcheck = 'N'
					<if test="searchType=='titleType' and keyword != null and keyword !=''">
			        	and title like '%' + #{keyword} + '%'
			        </if>
			        <if test="searchType=='idxType' and keyword != null and keyword !=''">
			        	and bno = #{keyword}
			        </if>
			        <if test="searchType=='authorType' and keyword != null and keyword !=''">
			        	and author like '%' + #{keyword} + '%'
			        </if>
	</select>
	
	<insert id="fileAdd" parameterType="com.example.demo.domain.FileVO">
		insert into files (fno, bno, fileName, fileOriName, fileUrl)
		values 
					(#{fno}, #{bno}, #{fileName}, #{fileOriName}, #{fileUrl})
	</insert>
	
	<select id="fileDetail" parameterType="int" resultType="com.example.demo.domain.FileVO">
		select			*
		from 		Files
		where
						bno = #{bno}
	</select>

</mapper>